.estilodiv{
	/*background-color: #F4F4F4;*/
}

.imgindex{
	padding:2px;
	/*background:#FAFAFA;
	border-radius:20px;/*
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	-ms-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	/*La transicion de las imagenes cuando crecer y decrecer*/

}

.imghover{
	padding:2px;
	border-radius:10px;
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	-ms-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	/*La transicion de las imagenes cuando crecer y decrecer*/
	box-shadow:#999 5px 5px 10px;
}

.imghover:hover{
	background:#FAFAFA;
	-webkit-transform:scale(1.2); /*hace que la imagen crezca*/
	-ms-transform:scale(1.2);
}


/*es una pseudoclase*/ /*hover es cuando pasa el raton encima*/
.imgindex:hover{
	background:#FAFAFA;
	-webkit-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.49);
	box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.49);
}


	.small{
	    font-size: 8px;
	}

  .labelstock{
	 	font-weight: 0; /*en negritas*/
	  font-size:  13px; /*tamaño*/
		width:90%;
		font-family: Georgia, "Times New Roman", Times, serif;
 }

 .labeltitle{
	 font-weight: 0; /*en negritas*/
	 font-size:  23px; /*tamaño*/
	 width:90%;
	 font-family: Georgia, "Times New Roman", Times, serif;
}

.labeltitle2{
	font-weight: 0; /*en negritas*/
	font-size:  23px; /*tamaño*/
	width:100%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.texto-descripcion{
	font-size:  17px; /*tamaño*/
	width:100%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.texto-precio{
	font-size:  20px; /*tamaño*/
	width:100%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

 .tabla-carrito{
	background:#fff;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;

 }

.tabla-carrito img{
	width: 100px;
}

h1,h2,h3,h4,h5,h6
{
	font-family: Georgia, "Times New Roman", Times, serif;
}

.busqueda-producto img{
	width: 280px;
	height: 250px;
}



.busqueda-producto img{
	padding:2px;
	background:#999;
	border-radius:20px;
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	-ms-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	/*La transicion de las imagenes cuando crecer y decrecer*/
	box-shadow:#999 5px 5px 10px;
}

/*es una pseudoclase*/ /*hover es cuando pasa el raton encima*/
.busqueda-producto img:hover{
	-webkit-transform:scale(1.2); /*hace que la imagen crezca*/
	-ms-transform:scale(1.2);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 600px) {
	.single__photo {
		width: 100%;
		max-width: 400px;
		height: 260px;
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.single__photo {
		width: 100%;
		max-width: 300px;
		height: 200px;
	}
}
